[access "refs/*"]
    read = group rdo-website
    owner = group rdo-website
[access "refs/heads/*"]
    label-Code-Review = -2..+2 group rdo-website
    submit = group rdo-website
    read = group Registered Users
    read = group rdo-website
    label-Verified = -2..+2 group rdo-website
    label-Workflow = -1..+0 group Registered Users
    label-Workflow = -1..+1 group rdo-website
[access "refs/meta/config"]
    read = group Registered Users
    read = group rdo-website
[receive]
    requireChangeId = true
[submit]
    mergeContent = false
    action = rebase if necessary
[project]
        description = RDO Website repository
