.footer-rdo
  :ruby
    browse_bugs = [
      'https://bugzilla.redhat.com/buglist.cgi?product=RDO',
      'query_format=advanced',
      'bug_status=NEW',
      'bug_status=ASSIGNED'
    ].join('&')

  :markdown
    Docs
    : [Download](/install/quickstart)
    : [Common questions](/rdo/faq)
    : [Troubleshooting](/troubleshooting/)
    : [About RDO](/rdo/about/)
    {:.}

    Use RDO
    : [Quickstart](/install/quickstart)
    <!--: [All Releases](FIXME-link-to-future-releases-page)-->
    : [Trunk builds](http://trunk.rdoproject.org/)
    {:.}

    Community
    : [Participate](/community/)
    : [Ask (Q&A)](http://ask.rdoproject.org/)
    : [Browse open issues](#{browse_bugs})
    : [Report a problem](https://bugzilla.redhat.com/enter_bug.cgi?product=RDO)
    {:.}

    Support
    : [Red Hat Enterprise](http://redhat.com/openstack/)
    : [Contact us](https://www.redhat.com/mailman/listinfo/rdo-list)
    {:.}
