.footer-rdo
  :markdown
    Docs
    : [Download](/install/packstack)
    : [Common questions](/rdo/faq)
    : [Troubleshooting](/troubleshooting/)
    : [About RDO](/rdo/)
    {:.}

    Use RDO
    : [Packstack](/install/packstack)
    : [TripleO](/tripleo/)
    : [Releases](/rdo/release-cadence)
    : [Trunk builds](http://trunk.rdoproject.org/)
    {:.}

    Community
    : [Participate](/contribute/)
    : [Browse open issues](https://issues.redhat.com/issues/?filter=12430650)
    : [Report a problem](https://issues.redhat.com/projects/RDO/issues)
    {:.}

    Support
    : [Red Hat OpenStack Platform](https://access.redhat.com/products/red-hat-openstack-platform/)
    : [Contact us](/contribute/mailing-lists/)
    {:.}
