.footer-rdo
  :markdown
    Docs
    : [Download]()
    : [Common Questions](/documentation/faq)
    : [Troubleshooting]()
    : [About RDO]()
    {:.}

    Use It
    : [Quickstart](/documentation/quickstart)
    : [Releases]()
    {:.}

    Community
    : [The People]()
    : [Participate]()
    : [Forum]()
    : [Report a Problem]()
    {:.}

    Support
    : [Red Hat Enterprise]()
    : [Contact Us]()
    {:.}
