.footer-rdo
  :markdown
    Docs
    : [Download](/install/quickstart)
    : [Common Questions](/rdo/faq)
    : [Troubleshooting](/troubleshooting/)
    : [About RDO](/rdo/about/)
    {:.}

    Use RDO
    : [Quickstart](/install/quickstart)
    <!--: [All Releases](FIXME-link-to-future-releases-page)-->
    : [Trunk Builds](http://trunk.rdoproject.org/)
    {:.}

    Community
    : [Participate](/community/)
    : [Ask](http://ask.rdoproject.org/)
    : [Report a Problem](https://bugzilla.redhat.com/buglist.cgi?quicksearch=RDO)
    {:.}

    Support
    : [Red Hat Enterprise](http://redhat.com/openstack/)
    : [Contact Us](https://www.redhat.com/mailman/listinfo/rdo-list)
    {:.}
